[submodule "source/_assets/sass/ti-components"]
	path = source/_assets/sass/ti-components
	url = git@github.com:codigomaye/ti-sass-components.git
	branch = main
	update = merge
[submodule "TI-Blade-Components"]
	path = source/_components
	url = git@github.com:codigomaye/ti-blade-components.git
	branch = main
